* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: rgb(255, 255, 255);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 82px;
}

.cabecalho-menu {
    display: flex;
    gap: 50px;
}

.cabecalho-menu-itens {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.conteudo {
    border-top: 0.2px solid;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.logotipo-principal {
    height: 550px;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-titulo {
    font-family: "rightroous" cursive;
    font-weight: 1000;
    font-size: 60px;
    color: black;
}

.conteudo-subtitulo {
    font-family: "rightroous" cursive;
    font-weight: 800;
    font-size: 34px;
    color: black;
}

.conteudo-texto {
    font-family: "rightroous" cursive;
    font-weight: 300;
    font-size: 24px;
    color: black;
}

.botao-linkedin {
    background-color: rgb(209, 180, 180);
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: black;
    border-radius: 20px;
    font-family: "rightroous" cursive;
    font-weight: 300;
    font-size: 18px;
    color: white;
    
}

nav > a:hover {
            text-decoration: underline;
            color: black;
        }

.conteudo-sobre-min {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.conteudo-texto-sobremin {
    font-family: "rightroous" cursive;
    font-weight: 300;
    font-size: 24px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid black;
}

.conteudo-rodape {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.botao-linkedin:hover {
    background-color: grey;
}